.main-header{
  border: 2px solid black;

}
.name-header{
  width: 45%;
  float: left;
  padding: .5em;
}

.about-container{
  border: 2px solid black;
  margin-top: 10px;
  clear:both;

}
.hamburger{
  float: right;
  margin-top: .6em;
}
.nav-menu{
  margin-right: .2em;
  float: right;
  clear: right;
  text-align: right;
  font-size: 1.2em;
}

.nav-menu li{
  list-style-type: none;
}

.skills-container li{
  text-align: left;
}

.projects-container{
  border: 2px solid black;
}

.skills-container{
  border: 2px solid black;
}

.skills-container li{
  text-align: left;
  list-style: none;
}
 .hamburger{
   width:30px;
   height:28px;
 }
