img{
  width:50%;
  min-width: 40%;
}
html{
  background-color: #C1E1A6;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}

input {
  width: 25%;
  min-width: 8em;
  margin: .5em 0;
  margin-right: 1em;
  border: 1px solid black;
  font-size: 1.5em
}

textarea {
  width: 98%;
  margin: .5em 0;
  font-size: 1.5em;

}
