.main-header{
  border: 2px solid black;

}
.name-header{
  width: 45%;
  float: left;
  padding: .5em;
  min-width: 5em;
}

.about-container{
  border: 2px solid black;
  margin-top: 10px;
  clear:both;
  padding-left: 1em;
  min-width: 16em;
}

.me-pic {
  width: 30%;
  min-width: 15em;
}

}
.hamburger{
  float: right;
  margin-top: .6em;
}
.nav-menu{
  margin-right: .2em;
  float: right;
  clear: right;
  text-align: right;
  font-size: 1.2em;
}

.nav-menu li{
  list-style-type: none;
}

.skills-container li{
  text-align: left;
}

#projectsCSontainer{
  /*border: 2px solid black;*/
  padding-top: 20em;
}

.skills-container{
  min-width: 16em;
  border: 2px solid black;
  padding-left: 1em;
}

.skills-container li{
  text-align: left;
}
 .hamburger{
   width:30px;
   height:28px;
 }
